<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="pstv-logo" src="/img/pstv-logo.png" alt="">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Submit</button>
      </form>
    </div>
  </div>
</div>